.herb-preview {
  height: 400px;

  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  font-family: cereal-regular;
  border-radius: 15px;
  .img-wrapper {
    height: 300px;
    img {
      width: 250px;
    }
  }
  .info {
    text-align: center;
    padding: 5px 8px;
  }
  &.not-in-stock {
    img {
      filter: blur(3px);
    }
    color: gray;
  }
  button {
    width: 100%;
    border-radius: 15px;
  }
}
