.home{
    height: 100vh;
    background-image: url('../../../assets/images/bagend.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-position: 50%;
    h1 {
        font-family: middle-earth;
        color: white;
        margin-top: 150px;
    }
}