.herb-filter {
  font-family: cereal-regular;
    label:not(:first-of-type) {
        margin-inline-start: 12px;
      }
      input {
        margin-inline-start: 6px;
        border-radius: 10px;
        height: 25px;
        border-color: darkgrey;
      }
      margin-bottom: 26px;
    
}