<div class="herb-filter">
    <label for="term">Term</label>
    <input type="text" inputColor="blue" [(ngModel)]="filterBy.term" (ngModelChange)="onSetFilter.emit(filterBy)"
      id="term">
  
    <label for="minPrice">Min Price</label>
    <input type="number" [(ngModel)]="filterBy.minPrice" (ngModelChange)="onSetFilter.emit(filterBy)" id="minPrice">
  
    <label for="maxPrice">Max Price</label>
    <input type="number" [(ngModel)]="filterBy.maxPrice" (ngModelChange)="onSetFilter.emit(filterBy)" id="maxPrice">
</div>
