@font-face {
    font-family: middle-earth;
    src: url("../../fonts/Middleearth-ao6m.ttf");
}

@font-face {
    font-family: cereal-regular;
    src: url("../../fonts/cereal/cereal-regular.ttf");
}

@font-face {
    font-family: cereal-medium;
    src: url("../../fonts/cereal/cereal-medium.ttf");
}

@font-face {
    font-family: cereal-bold;
    src: url("../../fonts/cereal/cereal-bold.ttf");
}